* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

header h1  {
    font-size: 60px;
}

.animation {
    height: 100vh;
    background-image: linear-gradient(
        45deg,
        #ff9a9e 0%,
        #fad0c4 99%,
        #fad0c4 100%
    );
    position: relative;
    overflow: hidden;
}

.battle-hopper {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}

.kr13 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.section {
    box-sizing: content-box;
    position: relative;
    width: 702px;
    height: 543px;
    border: 5px solid black;
}

.kr13 img {
    position: absolute;
    bottom: 0;
    left: 0;
}