* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    .fixed-section {
        width: calc(100vw - 2rem) !important;
        height: calc(100vw - 2rem) !important;
    }
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes grow {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
    }
}

header,
footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: black;
}

h1  {
    font-size: 60px;
    color: white;
}

.animation {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.battle-hopper {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

.scene .fixed-section {
    width: 700px;
    height: 550px;
}

.fixed-section {
    box-sizing: content-box;
    position: relative;
}

.fixed-section img {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* width: 100% this will keep the comic consistant going down the page */
}

.flex-section {
    display: flex;
    justify-content: center;
    width: 700px;
    flex-wrap: wrap;
}

.flex-section img {
    margin: .5rem;
    width: -moz-calc(100% - 1rem);
    width: -webkit-calc(100% - 1rem);
    width: -o-calc(100% - 1rem);
    width: calc(100% - 1rem);
    border: 3px solid black;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 700px;
}